* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  font-size: 65%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section {
  padding: 2rem;
}

header {
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #fff;
  width: 100%;
  height: 70px;
  z-index: 1000;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo {
  font-size: 3rem;
  color: #C38154;
  font-weight: bolder;
}

header .logo span {
  color: #FFC26F;
}

header .navmenu a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #C38154;
}

.navmenu {
  display: flex;
}  

.navmenu a:hover {
transform: translateY(-5px);
}

.navmenu a:hover,
.navmenu a.active {
  color: brown;
} 

:root {
  --bg-color: #f5f5dc;
  --main-color: #C38154;
}

span {
  color: var(--main-color);
}

.home {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100%vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 2rem 5rem 0 18rem;
  gap: 1rem;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 50rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #C38154;
}

.home .content span {
  font-size: 3.5rem;
  color: #FFC26F;
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p {
  font-size: 1.5rem;
  color: chocolate;
  padding: 1rem 0;
  line-height: 1.5;
}

main {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: beige;
}

main h2 {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #FFC26F;
  font-size: 40px;
}

main p {
  width: 100%;
}

main a {
  display: block;
  margin: 1rem 0;
  background-color: #C38154;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

main a:hover {
  background-color: #C38154;
}

.portofolio {
  background-color: beige;
  color: #FFC26F;
}

.portofolio-item span, h4 {
  font-size: 17px;
  color: #C38154;
}

.portofolio h2, p {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.portofolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}

.row img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}

.portfolio-item {
  width: calc(33.33% - 2rem);
  margin: 1rem;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease;
}

.portfolio-item:hover {
  transform: translateY(-5px);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.portfolio-item img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.portfolio-item h3 {
  margin: 0 0 0.5rem 0;
}

.portfolio-item p {
  margin: 0.5rem 0 0 0;
}

.layer {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.1), chocolate);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}

.layer h5 {
  color: brown;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.layer p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.8;
}

.row:hover img {
  transform: scale(1.1);
}

.row hover .layer{
  height: 100%;
}


.btn {
display: inline-block;
width: fit-content;
padding: 1rem;
border-radius: 0.5rem;
cursor: pointer;
color: beige;
border: 1px solid beige;
font-weight: 500;
font-size: 12px;
text-align: center;
background: #C38154;
transition: all 0.5s;
}

.btn:hover {
background: beige;
color: #C38154;
transform: translateY();
}

.about {
height: 100vh;
background-color: beige;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 10%;
}

.about-image img {
display: flex;
justify-content: right;
align-content: right;
width: 450px;
height: 450px;
}

.about-content {
max-width: 600px;
color:burlywood;
text-align: left;
}

.about-content h1 {
font-size: 55px;
line-height: 1.2;
color: #FFC26F;
}

.about-content h3 {
font-size: 40px;
color: #C38154;
}

@keyframes animateText {
0%,5%,100%{
  background-position: -410px 0;
}
65%,85% {
  background-position: 0 0;
}
}

.about-content p {
font-size: 16px;
margin-top: 20px;
}

.about-sci {
margin: 25px 0 40px;
}

.about-sci a {
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background: transparent;
border: 2px solid bisque;
border-radius: 50%;
font-size: 20px;
color:#C38154;
text-decoration: none;
margin-left: 12px;
transition: .5s;
}

.about-sci a:hover {
background: #C38154;
color: beige;
border-color: #C38154;
box-shadow: 0 0 10px #C38154;
}

.bttn {
padding: 10px 30px ;
background: #C38154;
border-radius: 40px;
font-size: 17px;
color: #F9F5F6;
text-decoration: none;
font-weight: 600;
letter-spacing: 1px;
box-shadow: 0 0 10px #C38154;
transition: .5s;
}

.bttn:hover {
box-shadow: none;
}

.nav a {
font-size: 20px;
color: #fff;
text-decoration: none;
font-weight: 500;
margin-left: 35px;
transition: .3s;
}

.nav a:hover,
.nav a.active {
color: #FFC26F;
}

nav {
background-color: #C38154;
display: flexbox;
justify-content: center;
align-items: center;
text-align: center;
padding: 1em;
}

nav a {
color: beige;
font-size: 24px;
font-weight: bold;
padding: 0 20px;
text-decoration: none;
}

nav ul {
list-style: none;
padding: 0;
}

nav li {
display: inline-block;
margin: 0 1em;
}

.main {
width: 1130px;
max-width: 95%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-around;
}

.contacts {
  font-size: 30px;
  background-color: beige;
}

.contacts h2 {
  margin-bottom: 3rem;
  color: #FFC26F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts form {
  max-width: 70rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
  text-align: center;
}

.contacts form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contacts form .input-box input,
.contacts form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #C38154;
  background: #fff;
  border-radius: 0.8rem;
  border: 2px solid #C38154;
  margin: 1rem 0;
  resize: none;
  outline: none;
  box-shadow: 0 .1rem .5rem #FFC26F;
}

.contacts form .input-box input,
.contacts form textarea a:hover {
  color: #C38154;
  border-color: #C38154;
  }

.button {
  padding: 10px 30px ;
  background: #C38154;
  border-radius: 40px;
  font-size: 17px;
  color: #F9F5F6;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #C38154;
  transition: .5s;
  border: transparent;
}
    
.button:hover {
box-shadow: none;
}
 
footer {
  position: relative;
  width: 100%;
  height: 100px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  margin-top: 10px;
}

footer h2 {
  font-size: 20px;
  color: #FFC26F;
  height: 50px;
}
.social {
  display: flex;
}

.social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #C38154;
  border-radius: 50%;
  font-size: 20px;
  color: #C38154;
  text-decoration: none;
  margin-left: 12px;
  transition: .5s;
}

.social a:hover {
  background: #C38154;
  color: beige;
  border-color: #C38154;
  box-shadow: 0 0 10px #C38154;
}

.social a:hover {
  transform: scale(1.3);
  transition: .3s;
}

.section-slide-up {
  will-change: transform, opacity;
}

.section-slide-up.is-animated {
  transform: translateY(20px);
  opacity: 0;
}

.section-slide-up.is-entered {
  transform: translateY(0);
  opacity: 1;
}

.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}